@model FakeAguia.Models.ViewModels.PlantFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>
    @ViewData["Title"]
</h2>

<h4>
    Plant
</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="Plant.Name" class="control-label"></label>
                <input asp-for="Plant.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Plant.RegionId" class="control-label"></label>
                <select asp-for="Plant.RegionId" asp-items="@(new SelectList(Model.Regions, "Id","Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Plant.Id" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

